.border {
  font-size: 1.6rem !important;
  display: grid !important;
  place-items: center !important;
  min-height: 200px !important;
  border: 8px solid !important;
  padding: 1rem !important;
}

.full {
  border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
}

.sides {
  border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;
}

.sides-2 {
  border-image: linear-gradient(to bottom, turquoise, greenyellow) 0 1;
}

.linear-repeating {
  border-width: 10px !important;
  border-image: repeating-linear-gradient(45deg, turquoise, pink 4%) 1 !important;
  /* background: linear-gradient(to left, rgb(103 243 229), rgb(188 255 87)); */
}

.radial-repeating {
  border-width: 20px;
  border-image: repeating-radial-gradient(
      circle at 10px,
      turquoise,
      pink 2px,
      greenyellow 4px,
      pink 2px
    )
    1;
}

/* border radius example is drawn from this pen: https://codepen.io/shshaw/pen/MqMZGR
I've added a few comments on why we're using certain properties
*/
.full-withradius {
  position: relative;
  background: #fff;
  /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
  background-clip: padding-box;
  border: solid 8px transparent;
  border-radius: 0.8rem;
}
.full-withradius:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -8px;
  /* same as border width */
  border-radius: inherit;
  /* inherit container box's radius */
  background: linear-gradient(to left, turquoise, greenyellow);
}
